body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: 'Roboto Serif', serif;
  height: 100vh

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  border: 2px solid black;
  flex-direction: column;
  border-radius: 10px;
  
}

h3 {
  color: black;
  font-size: 70px;
}

button {
  padding: 10px 20px;
  border: none;
  margin-right: 3px;
  background: transparent;
  color: white;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.btn1{
  background: red;
  color: white;
} 

.btn2{
  background: black;
  color: white;
} 

.btn3{
  background: green;
  color: white;
} 
